# Software Engineering for Data Scientists

## *Manipulating Data with Python*

## Today's Objectives

#### 0. Cloning LectureNotes

#### 1. Opening & Navigating the Jupyter Notebook

#### 2. Data type basics

#### 3. Loading data with ``pandas``

#### 4. Cleaning and Manipulating data with ``pandas``

#### 5. Visualizing data with ``pandas`` & ``matplotlib``

## 0. Cloning Lecture Notes

The course materials are maintained on github. The next lecture will discuss github in detail. Today, you'll get minimal instructions to get access to today's lecture materials.

1. Open a terminal session
1. Type 'git clone https://github.com/UWSEDS/LectureNotes.git'
1. Wait until the download is complete
1. cd LectureNotes
1. cd 02_Procedural_Python

## 1. Opening and Navigating the IPython Notebook

We will start today with the interactive environment that we will be using often through the course: the [Jupyter Notebook](http://jupyter.org).

We will walk through the following steps together:

1. Download [miniconda](https://conda.io/miniconda.html) (be sure to get Version 3.6) and install it on your system (hopefully you have done this before coming to class)
   ```
   ```

2. Use the ``conda`` command-line tool to update your package listing and install the IPython notebook:

   Update ``conda``'s listing of packages for your system:
   ```
   $ conda update conda
   ```
   
   Install IPython notebook and all its requirements
   ```
   $ conda install jupyter notebook
   ```
   
3. Navigate to the directory containing the course material. For example:

   ```
   $ cd LectureNotes/02_Procedural_Python
   ```
   
   You should see a number of files in the directory, including these:
   
   ```
   $ ls
   
   ```

4. Type ``jupyter notebook`` in the terminal to start the notebook

   ```
   $ jupyter notebook
   ```
   
   If everything has worked correctly, it should automatically launch your default browser
   ```
   ```
   
5. Click on ``Lecture-Python-And-Data.ipynb`` to open the notebook containing the content for this lecture.

With that, you're set up to use the Jupyter notebook!

## 2. Data Types Basics

### 2.1 Data type theory
- Components with the same capabilities are of the same *type*. 
  - For example, the numbers 2 and 200 are both integers.
- A type is defined recursively. Some examples.
  - A list is a collection of objects that can be indexed by position.
  - A list of integers contains an integer at each position.
- A type has a set of supported operations. For example:
  - Integers can be added
  - Strings can be concatented
  - A table can find the name of its columns
    - What type is returned from the operation?
- In python, members (components and operations) are indicated by a '.'
  - If `a` is a list, the `a.append(1)` adds `1` to the list.

### 2.2 Primitive types

The primitive types are integers, floats, strings, booleans.

#### 2.2.1 Integers

In [1]:
# Integer arithematic
1 + 1

2

In [2]:
# Integer division version floating point division
print (6 // 4, 6/ 4)

1 1.5

#### 2.2.2 Floats

In [ ]:
# Have the full set of "calculator functions" but need the numpy package
import numpy as np
print (6.0 * 3, np.sin(2*np.pi))

In [ ]:
# Floats can have a null value called nan, not a number
a = np.nan
3*a

#### 2.2.3 Strings

In [ ]:
# Can concatenate, substring, find, count, ...

In [ ]:
a = "The lazy"
b = "brown fox"
print ("Concatenation: ", a + b)
print ("First three letters: " + a[0:3])
print ("Index of 'z': " + str(a.find('z')))

### 2.3 Tuples
A tuple is an ordered sequence of objects. Tuples cannot be changed; they are immuteable.

In [3]:
a_tuple = (1, 'ab', (1,2))
a_tuple

(1, 'ab', (1, 2))

In [4]:
a_tuple[0]

1

In [5]:
a_tuple[0] = 2

TypeError: 'tuple' object does not support item assignment

In [ ]:
a_tuple[2]

### 2.4 Lists
A list is an ordered sequence of objects that can be changed.

In [6]:
a_list = [1, 'a', [1,2]]

In [7]:
a_list[0]

1

In [9]:
a_list[0] = 2
a_list

[2, 'a', [1, 2]]

In [11]:
dir(a_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
a_list.append(2)
a_list

In [ ]:
a_list

In [ ]:
dir(a_list)

In [ ]:
help (a_list)

In [ ]:
a_list.count(1)

### 2.5 Dictionaries
A dictionary is a kind of associates a *key* with a *value*. A value can be any object, even another dictionary.

In [12]:
# An alternative to dictionaries
alternative = [('Joe', 'Aug 24'), ('Alex', 'Dec 13')]

In [13]:
dessert_dict = {}  # Empty dictionary
dessert_dict['Dave'] = "Cake"
dessert_dict["Joe"] = ["Cake", "Pie"]
print (dessert_dict)

{'Dave': 'Cake', 'Joe': ['Cake', 'Pie']}

In [14]:
dessert_dict["Dave"]

'Cake'

In [18]:
dessert_dict.keys()

In [ ]:
# This produces an error
dessert_dict["Bernease"] = {}
dessert_dict

In [ ]:
dessert_dict["Bernease"] = {"Favorite": ["sorbet", "cobbler"], "Dislike": "Brownies"}

### 2.7 A Shakespearean Detour: "What's in a Name?"

#### Deep vs. Shallow Copies
A deep copy can be manipulated separately. A shallow copy is a pointer to the same data as the original.

In [ ]:
# A first name shell game
first_int = 1
second_int = first_int
second_int += 1
second_int

In [ ]:
# What is first_int?
first_int

In [ ]:
# A second name shell game
a_list = ['a', 'aa', 'aaa']
b_list = a_list
b_list.append('bb')
b_list

In [ ]:
# What is a_list?
a_list

In [ ]:
# Create a deep copy
import copy
# A second name shell game
a_list = ['a', 'aa', 'aaa']
b_list = copy.deepcopy(a_list)
b_list.append('bb')
print("b_list = %s" % str(b_list))
print("a_list = %s" % str(a_list))

**Key insight**: Deep vs. Shallow Copies
* A deep copy can be manipulated separately from the original.
* A shallow copy cannot.
* Assigning a python *immutable* creates a deep copy. Non-immutables are shallow copies.

#### Name Resolution
The most common errors that you'll see in your python codes are:
* ``NameError``
* ``AttributeError``
A common error when using the ``bash`` shell is ``command not found``.

*Name resolution*: Associating a name with code or data.

Resolving a name in the bash shell is done by searching the directories in the ``PATH`` environment variable. The first executable with the name is run.

In [ ]:
# Example 1 of name resolution in python
var = 10
def func(val):
    var = val + 1
    return val

In [ ]:
# What is returned?
print("func(2) = %d" % func(2))
# What is var?
print("var = %d" % var)

In [ ]:
# Example 2 of name resolution in python
var = 10
def func(val):
    return val + var

In [ ]:
# What is returned?
print("func(2) = %d" % func(2))
# What is var?
print("var = %d" % var)

**Insights on ``python`` name resolution**
* Names are assigned within a context.
* Context changes with the function and module.
  * Assigning a name in a function creates a new name.
  * Referencing an unassigned name in function uses an existing name.

### 2.7 Object Essentials
Objects are a "packaging" of data and code. Almost all python entities are objects.

In [19]:
# A list and a dict are objects.
# dict has been implemented so that you see its values when you type
# the instance name.
# This is done with many python objects, like list.
a_dict = {'a': [1, 2], 'b': [3, 4, 5]}
a_dict

{'a': [1, 2], 'b': [3, 4, 5]}

In [ ]:
# You access the data and methods (codes) associated with an object by
# using the "." operator. These are referred to collectively
# as attributes. Methods are followed by parentheses;
# values (properties) are not.
a_dict.keys()

In [ ]:
# You can discover the attributes of an object using "dir"
dir(a_dict)

### 2.8 Summary
<hr>

| type | description |
|------|------------|
| primitive | int, float, string, bool |
| tuple | An immutable collection of ordered objects |
| list | A mutable collection of ordered objects |
| dictionary | A mutable collection of named objects |
| object | A packaging of codes and data |

## 3. Python's Data Science Ecosystem

With this simple Python computation experience under our belt, we can now move to doing some more interesting analysis.

### Python's Data Science Ecosystem

In addition to Python's built-in modules like the ``math`` module we explored above, there are also many often-used third-party modules that are core tools for doing data science with Python.
Some of the most important ones are:

#### [``numpy``](http://numpy.org/): Numerical Python

Numpy is short for "Numerical Python", and contains tools for efficient manipulation of arrays of data.
If you have used other computational tools like IDL or MatLab, Numpy should feel very familiar.

#### [``scipy``](http://scipy.org/): Scientific Python

Scipy is short for "Scientific Python", and contains a wide range of functionality for accomplishing common scientific tasks, such as optimization/minimization, numerical integration, interpolation, and much more.
We will not look closely at Scipy today, but we will use its functionality later in the course.

#### [``pandas``](http://pandas.pydata.org/): Labeled Data Manipulation in Python

Pandas is short for "Panel Data", and contains tools for doing more advanced manipulation of labeled data in Python, in particular with a columnar data structure called a *Data Frame*.
If you've used the [R](http://rstats.org) statistical language (and in particular the so-called "Hadley Stack"), much of the functionality in Pandas should feel very familiar.

#### [``matplotlib``](http://matplotlib.org): Visualization in Python

Matplotlib started out as a Matlab plotting clone in Python, and has grown from there in the 15 years since its creation. It is the most popular data visualization tool currently in the Python data world (though other recent packages are starting to encroach on its monopoly).

### Installing Pandas & friends

Because the above packages are not included in Python itself, you need to install them separately. While it is possible to install these from source (compiling the C and/or Fortran code that does the heavy lifting under the hood) it is much easier to use a package manager like ``conda``. All it takes is to run

```
$ conda install numpy scipy pandas matplotlib
```

and (so long as your conda setup is working) the packages will be downloaded and installed on your system.

## 4. Introduction to DataFrames

What are the elements of a table?

In [21]:
# Pandas DataFrames as table elements
import pandas as pd

What operations do we perform on tables?

In [23]:
df = pd.DataFrame({'A': [1,2], 'B': [2, 4, 6], 'ccc': [1.0, 33, 4]})
df

ValueError: arrays must all be same length

In [ ]:
sub_df = df[['A', 'ccc']]
sub_df

In [ ]:
df['A'] + 2*df['B']

In [ ]:
# Operations on a Pandas DataFrame

## 5. Manipulating Data with DataFrames

### Downloading the data

shell commands can be run from the notebook by preceding them with an exclamation point:

In [ ]:
!ls

uncomment this to download the data:

In [ ]:
#!curl -o pronto.csv https://data.seattle.gov/api/views/tw7j-dfaw/rows.csv?accessType=DOWNLOAD

### Loading Data into a DataFrame

Because we'll use it so much, we often import under a shortened name using the ``import ... as ...`` pattern:

In [ ]:
import pandas as pd
df = pd.read_csv('pronto.csv')

In [ ]:
type(df)

In [ ]:
len(df)

Now we can use the ``read_csv`` command to read the comma-separated-value data:

*Note: strings in Python can be defined either with double quotes or single quotes*

### Viewing Pandas Dataframes

The ``head()`` and ``tail()`` methods show us the first and last rows of the data

In [ ]:
df.head()

In [ ]:
df.columns

The ``shape`` attribute shows us the number of elements:

In [ ]:
df.shape

The ``columns`` attribute gives us the column names

The ``index`` attribute gives us the index names

The ``dtypes`` attribute gives the data types of each column:

In [ ]:
df.dtypes

### Sophisticated Data Manipulation

Here we'll cover some key features of manipulating data with pandas

Access columns by name using square-bracket indexing:

In [ ]:
df_small = df[ 'stoptime']

In [ ]:
type(df_small)

In [ ]:
df_small.tolist()

Mathematical operations on columns happen *element-wise*:

In [ ]:
trip_duration_hours = df['tripduration']/3600
trip_duration_hours[:3]

In [ ]:
df['trip_duration_hours'] = df['tripduration']/3600

In [ ]:
del df['trip_duration_hours']

In [ ]:
df.head()

In [ ]:
df.loc[[0,1],:]

In [ ]:
df_long_trips = df[df['tripduration'] >10000]

In [ ]:
sel = df['tripduration'] >10000 
df_long_trips = df[sel]

In [ ]:
len(df)

In [ ]:
# Make a copy of a slice
df_subset = df[['starttime', 'stoptime']].copy()
df_subset['trip_hours'] = df['tripduration']/3600

Columns can be created (or overwritten) with the assignment operator.
Let's create a *tripminutes* column with the number of minutes for each trip

More complicated mathematical operations can be done with tools in the ``numpy`` package:

### Working with Times

One trick to know when working with columns of times is that Pandas ``DateTimeIndex`` provides a nice interface for working with columns of times.

For a dataset of this size, using ``pd.to_datetime`` and specifying the date format can make things much faster (from the [strftime reference](http://strftime.org/), we see that the pronto data has format ``"%m/%d/%Y %I:%M:%S %p"``

(Note: you can also use ``infer_datetime_format=True`` in most cases to automatically infer the correct format, though due to a bug it doesn't work when AM/PM are present)

With it, we can extract, the hour of the day, the day of the week, the month, and a wide range of other views of the time:

### Simple Grouping of Data

The real power of Pandas comes in its tools for grouping and aggregating data. Here we'll look at *value counts* and the basics of *group-by* operations.

#### Value Counts

Pandas includes an array of useful functionality for manipulating and analyzing tabular data.
We'll take a look at two of these here.

The ``pandas.value_counts`` returns statistics on the unique values within each column.

We can use it, for example, to break down rides by gender:

In [ ]:
#

Or to break down rides by age:

In [ ]:
#

By default, the values rather than the index are sorted. Use ``sort=False`` to turn this behavior off:

In [ ]:
#

We can explore other things as well: day of week, hour of day, etc.

In [ ]:
#

### Group-by Operation

One of the killer features of the Pandas dataframe is the ability to do group-by operations.
You can visualize the group-by like this (image borrowed from the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do))

In [ ]:
df.head()

In [ ]:
df_count = df.groupby(['from_station_id']).count()
df_count.head()

In [ ]:
ser_count = df_count['trip_id']
type(ser_count)

In [ ]:
ser_count.sort_values()

In [ ]:
df_count1 = df_count['trip_id']
df_count2 = df_count1.rename(columns={'trip_id': 'count'})
df_count2['new'] = 1
df_count2.head()

In [ ]:
df_mean = df.groupby(['from_station_id']).mean()
df_mean.head()

In [ ]:
dfgroup = df.groupby(['from_station_id'])
dfgroup.groups

The simplest version of a groupby looks like this, and you can use almost any aggregation function you wish (mean, median, sum, minimum, maximum, standard deviation, count, etc.)

```
<data object>.groupby(<grouping values>).<aggregate>()
```

for example, we can group by gender and find the average of all numerical columns:

It's also possible to indes the grouped object like it is a dataframe:

You can even group by multiple values: for example we can look at the trip duration by time of day and by gender:

The ``unstack()`` operation can help make sense of this type of multiply-grouped data. What this technically does is split a multiple-valued index into an index plus columns:

### Visualizing data with ``pandas``

Of course, looking at tables of data is not very intuitive.
Fortunately Pandas has many useful plotting functions built-in, all of which make use of the ``matplotlib`` library to generate plots.

Whenever you do plotting in the IPython notebook, you will want to first run this *magic command* which configures the notebook to work well with plots:

In [ ]:
%matplotlib inline

Now we can simply call the ``plot()`` method of any series or dataframe to get a reasonable view of the data:

In [ ]:
import matplotlib.pyplot as plt
df['tripduration'].hist()

### Adjusting the Plot Style

Matplotlib has a number of plot styles you can use. For example, if you like R you might use the ggplot style:

### Other plot types

Pandas supports a range of other plotting types; you can find these by using the <TAB> autocomplete on the ``plot`` method:

For example, we can create a histogram of trip durations:

If you'd like to adjust the x and y limits of the plot, you can use the ``set_xlim()`` and ``set_ylim()`` method of the resulting object:

## Breakout: Exploring the Data

Make a plot of the total number of rides as a function of month of the year (You'll need to extract the month, use a ``groupby``, and find the appropriate aggregation to count the number in each group).

Split this plot by gender. Do you see any seasonal ridership patterns by gender?

Split this plot by user type. Do you see any seasonal ridership patterns by usertype?

Repeat the above three steps, counting the number of rides by time of day rather thatn by month.

Are there any other interesting insights you can discover in the data using these tools?

### Using Files
- Writing and running python modules
- Using python modules in your Jupyter Notebook

In [ ]:
# A script for creating a dataframe with counts of the occurrence of a columns' values
df_count = df.groupby('from_station_id').count()
df_count1 = df_count[['trip_id']]
df_count2 = df_count1.rename(columns={'trip_id': 'count'})

In [ ]:
df_count2.head()

In [ ]:
def make_table_count(df_arg, groupby_column):
    df_count = df_arg.groupby(groupby_column).count()
    column_name = df.columns[0]
    df_count1 = df_count[[column_name]]
    df_count2 = df_count1.rename(columns={column_name: 'count'})
    return df_count2

In [ ]:
dff = make_table_count(df, 'from_station_id')
dff.head()